@model BookNet.Models.Author

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <img class="authorImage" src="~/Images/@Model.Image" width="200" height="200" onerror="this.src = '/Images/unknownAuthor.jpg';" />
    <dl class="dl-horizontal" style="display: inline-block;">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })

    @if (ViewBag.IsAdmin)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" }) @:
    }
</p>
