@model IEnumerable<BookNet.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books List</h2>

@{if (ViewBag.IsAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <legend>Search:</legend>
        <div class="searchField">
            Author Name: @Html.TextBox("authorname")
        </div>
        <div class="searchField">
            Title: @Html.TextBox("titleSearch")
        </div>
        <input class="searchButton btn btn-default" type="submit" value="Search" />
    </fieldset>
}
<section class="col-md-10">
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.Image" width="100" height="100" onerror="this.src = '/Images/unknown.jpg';" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td>
                    @if (ViewBag.IsAdmin)
                {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </div>
                        <div>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </div>
                    }
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </div>
                </td>
            </tr>
        }

    </table>
</section>
@Html.Action("Aside")
